<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="last-night">
      <ion-icon name="sunny-outline"></ion-icon>
      <ion-label>Last night</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="vault">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Vault</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="scan" class="cv-tab-scan">
      <ion-icon name="scan-outline"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="sets">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Sets</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
