<ion-tabs>
  <ion-tab-bar slot="bottom" class="cv-tab-bar">
    <ion-tab-button tab="last-night" aria-label="Last night">
      <ion-icon name="sunny-outline" aria-hidden="true"></ion-icon>
      <ion-label>Last night</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="vault" aria-label="Vault">
      <ion-icon name="albums-outline" aria-hidden="true"></ion-icon>
      <ion-label>Vault</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="scan" class="cv-tab-scan" aria-label="Scan">
      <ion-icon name="scan-outline" aria-hidden="true"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="sets" aria-label="Sets">
      <ion-icon name="card-outline" aria-hidden="true"></ion-icon>
      <ion-label>Sets</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" aria-label="Profile">
      <ion-icon name="person-circle-outline" aria-hidden="true"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
